.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60px;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin-top: 15px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    border-radius: 40px;
    width: 90%;
    max-height: 50px;
    box-shadow: 0 0px 15px #aaaa;
}
.navbar img{
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
}
.navlink{
    text-decoration: none;
    color: var(--text);
}

.contactbtn{
  background-color: #A8D9BE;
  border-radius: 30px;
  padding:7px 17px;
  margin-right: 10px;
  margin-left: 10px;
}

.menu-btn{
    display: none;
}

@media (max-width:875px){

    .navbar{
        position: fixed;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        display: none;
        flex-direction: column;
        max-height: none;
        padding: 20px;
        border-radius: 20px;
        height: 70vh;
    }

    .navbar.active{
        display: flex;
    }

    .links{
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .contactbtn{
        margin-top: 20px;
    }
    .menu-btn {
        display: block;
        position: fixed;
        top: 20px;
        left: 15px;
        background-color: transparent;
        border: none;
        width: 20%;
        font-size: 100%;
    }
    .menu-btn img{
        width: 80%;
        color: var(--accent);
        max-width: 70px;
    }
}